@use "sass:map";
@import "src/app/styles/globals.scss";

.headerBox {
	overflow:			hidden;
	background-color:	map.get($globalColours, "subtleGrey");
}

.headerLogoImage {
	width:				1.8%;
	height:				auto;
}

.headerBox a, .headerLogoImage {
	float:				left;
	display:			block;
	color:				map.get($globalColours, "deadBlack");
	text-align:			center;
	padding:			14px 16px;
	text-decoration:	none;
	font-size:			17px;
}

.headerBox a:hover {
	background-color:	map.get($globalColours, "midGrey");
	color:				map.get($globalColours, "deadBlack");
}

.searchContainer { float: right; }

@media screen and (max-width: 600px) {
	.searchContainer { float: none; }
}