@use "sass:map";
@import "src/app/styles/globals.scss";

.productBoxOuter {

	/* ↓ Alignment ↓ */
	width:				20%;
	box-sizing:			border-box;
	text-align:			center;
	display:			block;

	/* ↓ Border ↓ */
	border-style:		solid;
	border-color:		map.get($globalColours, "midGrey");
	border-width:		2px;
	border-radius:		5px;
	@include			miBoxShadow;

	/* ↓ Spacing ↓ */
	padding-top:		1em;
	padding-left:		1em;
	padding-right:		1em;
	padding-bottom:		1em;
	margin-left:		1.5em;
	margin-right:		1.5em;
	margin-top:			0.5em;
	margin-bottom:		0.5em;

	/* ↓ Content ↓ */
	background-color:	map.get($globalColours, "subtleGrey");
	font-size:			0.8rem;

}

.productThumbnail {

	box-sizing:					border-box;
	display:					block;
	vertical-align:				middle;

	object-fit:					cover;
	border-top-left-radius:		map.get($globalSizes, "midBorderRadius");
    border-top-right-radius:	map.get($globalSizes, "midBorderRadius");
}

.productDescription {
	font-size:			1em;
}

/* ↓ Vertical (Mobile) ↓ */
@media only screen and (max-width: 600px) {

	.productBoxOuter {

		/* ↓ Alignment ↓ */
		width:				45%;
		padding:			0.5em;
		margin:				0.5em;

		/* ↓ Content ↓ */
		font-size:			0.7rem;

	}

	.productHeading { font-size: 0.8rem; margin-bottom: 0.2em; }

}