@import "src/app/styles/globals.scss";

.searchTextbox {
	padding:		6px;
	margin-top:		8px;
	font-size:		1rem;
	border:			none;
}

.searchButton {
	float:			right;
	padding:		6px 10px;
	margin-top:		8px;
	margin-right:	16px;
	background:		#D0D0D0;
	font-size:		0.85rem;
	border:			none;
	cursor:			pointer;
}

.searchButton:hover {
	background:		#C0C0C0;
}

@media screen and (max-width: 600px) {
	.searchTextbox, .searchButton {
		float:		none;
		display:	block;
		text-align:	left;
		width:		100%;
		margin:		0;
		padding:	14px;
	}
	.searchTextbox { border: 1px solid #C0C0C0; }
}